# Jupyter Notebook Basics Exercise

## Part 1

Run the following cell:

Führen Sie die folgende Zelle aus:

In [2]:
u = "Cnrt!Yuddi!"
l = 'ogas o i t!'
"".join(i + j for i, j in zip(u, l))

## Part 2

In [ ]:
# Replace <YOURNAME> with your name and then run this cell
# Ersetzen Sie <YOURNAME> durch Ihren Namen und führen Sie dann diese Zelle aus.
"Wow, <YOURNAME> is the most amazing person on this planet"

## Part 3
Create 3 new empty cells directly below this cell.

Erstellen Sie 3 neue leere Zellen direkt unter dieser Zelle.

## Part 4

In [ ]:
#Delete this cell!

In [ ]:
#Run this cell!
print("chicken nuggetz")

In [ ]:
#Delete this cell!

## Part 5
These cells are out of order! Swap their order and then run them both!

Diese Zellen sind nicht in der richtigen Reihenfolge! Tausche ihre Reihenfolge und führe sie dann beide aus!

In [ ]:
number * number

In [ ]:
number = 69

## Part 6

6.1. Provide an example of a module operation that has rest 4 (insert a new cell with the example)

Geben Sie ein Beispiel für einen Modulvorgang an, der den Rest 4 hat (fügen Sie eine neue Zelle mit dem Beispiel ein)

6.2. Provide an example of a module operation that has rest 0 (insert a new cell with the example)

6.3. Provide an example of a module operation that has rest 9 (insert a new cell with the example)

## Part 7

Provide a formula on how this value 8 can be achieved using the power function.

Geben Sie eine Formel an, wie dieser Wert 8 mithilfe der Potenzfunktion erreicht werden kann.

## Part 8

Provide a float number and store it in a variable (you chose the name). Print the type of this variable? 

Geben Sie eine Fließkommazahl an und speichern Sie sie in einer Variablen (den Namen haben Sie gewählt). Den Typ dieser Variablen ausgeben?

## Part 9

### Make this cell a python cell and run it (it's markdown right now)

### Machen Sie diese Zelle zu einer Python-Zelle und führen Sie sie aus (sie ist im Moment noch in Markdown)

"supercalifragilisticexpialidocious" * 20

## Part 10

Can we multiply a string with a float? If yes, provide an example.

Kann man eine Zeichenkette mit einem Float multiplizieren? Wenn ja, geben Sie ein Beispiel.

## Part 11

Can we multiply an integer with a float and then another float? If yes, provide an example.

Kann man eine ganze Zahl mit einer Gleitkommazahl und dann mit einer weiteren Gleitkommazahl multiplizieren? Wenn ja, geben Sie ein Beispiel.

## Part 8

In [ ]:
# This cell is supposed to print the integers from 9 down to 1 (but it doesnt!)
# 1. Run this cell which results in an INFINITE LOOP
# 2. Interrupt the infinite loop
# 3. Fix the code so that it prints 9,8,7,6,5,4,3,2,1 and run the cell again!

# Diese Zelle soll die ganzen Zahlen von 9 bis 1 ausgeben (tut sie aber nicht!)
# 1. Führe diese Zelle aus, was zu einer INFINITE LOOP führt
# 2. Unterbreche die Endlosschleife
# 3. Korrigiere den Code so, dass er 9,8,7,6,5,4,3,2,1 ausgibt und führe die Zelle erneut aus!

num = 10 
while num > 1:
    num+=1
    print(num)

## Part 9
Shutdown this notebook, but first add your name to it.

Schalten Sie dieses Notebook aus, aber fügen Sie zuerst Ihren Namen hinzu.